

# # --- 核心脑电处理框架 ---
# mne==1.6.1               # 必须：所有的预处理（滤波、ICA、分段、校正）都在这里完成

# # --- 基础数值与信号计算 ---
# numpy==1.26.4            # 必须：用于处理矩阵数据
# scipy==1.12.0            # 必须：提供滤波器的底层算法支持

# # --- 数据导入扩展 ---
# pandas==2.2.1            # 建议：用于处理事件(Events)列表和元数据
# h5py==3.10.0             # 建议：如果你使用 DEAP 数据集（.mat 格式通常需要它）
# scikit-learn==1.4.1      # 建议：MNE 执行 ICA (独立成分分析) 时通常需要它的后端计算

# # --- 可视化与交互  ---
# matplotlib==3.8.3        # 必须：用于绘制滤波前后对比图、ICA地形图
# pyqt6==6.6.1             # 建议：用于开启 MNE 的交互式界面（如手动剔除坏段）